html {
    background-color: #eee;
    font-family: 'Lato';
  }
  .container {
    max-width: 750px;
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
  }
  .container .list-card {
    margin: 5px auto 5px;
    overflow: auto;
    border: 1px solid #ccc;
  }
  .container .list-card:hover{
    border: 1px solid #777;
  }
  .container .list-card img {
    width: 240px;
    height: 180px;
    background-color: green;
    border: 0;
    display: inline-block;
    float: left;
    margin-right: 18px;
  }

  .list-details {
    float: none;
  }
  .list-name {
    font-size: 20px;
    display: inline-block;
  }
  .list-landmark,
  .list-location {
    font-size: 12px;
    opacity: 0.5;
    margin: 2px 0;
  }
  .list-rooms {
    font-size: 12px;
  }