.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  
  .card.hovercard {
    position: relative;
    margin:20px auto 5px;
    max-width: 600px;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
  }
  
  .card.hovercard img {
    max-width: 600px;
    max-height: 250px;
  }
  
  .card.hovercard .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
  }
  
  .card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
  }
  
  .card.hovercard .info {
    padding: 4px 8px 10px;
  }


  
  .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
  }
  
  .card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
  }
  
  .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
  }
  #deletebtn{
    width: 50px;
    height: 20px;
    padding: 0px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  html {
    background-color: #eee;
    font-family: 'Lato';
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
  }
  .container .list-card {
    margin: 5px auto 5px;
    overflow: auto;
    max-width: 550px;
    border: 1px solid #ccc;
  }

  .container .list-card img {
    width: 130px;
    height: 130px;
    border: 0;
    display: inline-block;
    float: left;
    margin-right: 18px;
  }

  .list-details {
    float: none;
  }
  .list-name {
    font-size: 20px;
    display: block;
  }

  .form-control {
    max-width: 180px; 
  }
  @media (min-width: 768px) {
    .form-control {
      max-width: 300px; 
    }
  }
  @media (max-width: 330px) {
    .form-control {
      max-width: 110px; 
    }
  }
  #dodaj{
    height: 30px;
    margin-top: 7px;
    padding-top:2px;
  }


  .list-landmark,
  .list-location {
    font-size: 14px;
    opacity: 0.8;
    margin: 2px 0;
  }
  .list-rooms {
    font-size: 12px;
  }