 html, body{
     padding-bottom: 0px;
     overflow: hidden;
 }
 #map-canvas, .container-fluid
{
    /* height of these elements */
    height: 97%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;

    margin:0;
}

  .btn-circle.btn-lg{
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    padding-top:17px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    display: none;
  }

  .alert {
    position: absolute;
    padding: 10px;
    bottom:3.5%;
    width: 250px;
    background-color: #f44336; /* Red */
    text-align: center;
    color: white;
    right: 9%;
  }
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
  