{% extends "layout.html" %}

{% block title %}
    map
{% endblock %}

{% block main %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='script.js') }}"></script>
    <div class="container-fluid">
        <div id="map-canvas"></div>
    </div>
    <div class="form">
           
            <form class="unos-form" action="{{ url_for('maps.index') }}" method="post" enctype="multipart/form-data">
                <input type="text" style="display:none;" id="sirina" name="sirina" value="2.0" />
                <input type="text" style="display:none;" id="duzina" name="duzina" value="2.0" />   
                <label for="upload">
                 <span id="dodajSliku" class="btn btn-primary btn-circle btn-lg">
                    <i class="fas fa-camera-retro"></i>
                 </span>
                 <input type="file" name="file" id="upload" onchange="form.submit()"  style="display:none">
                 </label>
            </form>
    </div>
    {% if error != none %}
        <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                {{error}}
              </div>
        {% endif %}
 
{% endblock %}
